/.codex
/.mise
/data/*.xz
/csharp/bin/
/csharp/obj/
/csharp/tests/bin/
/csharp/tests/obj/
/csharp-aot/bin/
/csharp-aot/obj/
/python/__pycache__/
/python/test/__pycache__/
/zig/zig-out/
/zig/zig-cache/
/rust/target/
/go/bin/
/go-switch/bin/
/.envrc
